###
## Copy this file to .env in your local environment and set appropriate values
## Do NOT check in the .env file but you can check this example in if you
## add custom variables so team can know about them
###
## Environment variables.
SKIP_PREFLIGHT_CHECK=true
# Graphql endpoint
#REACT_APP_APOLLO_CLIENT__HTTP_LINK__URI=''
REACT_APP_APOLLO_CLIENT__HTTP_LINK__URI=''
#Websocket
REACT_APP_WS=''
#AuthToken
REACT_APP_AX=''
#APIKey
REACT_APP_AW=''
#Encryption Key
REACT_APP_EDK=''
#Initialization Vector
REACT_APP_IEDV=''
#--Abstr---
REACT_APP_GHB=''
REACT_APP_7KY=''
REACT_APP_TJeCmbdXMy36i1RdZf=''
REACT_APP_PlM=''
REACT_APP_8SQ=''
#----EndAbstr---
REACT_APP_AE=
REACT_APP_IL=
REACT_APP_T=900
REACT_APP_GD=''
